$def with (oauth_dialog_url, fb_first_name)

<html>
<head>
<title>Electric Shamer | Bettering People Through Public Humiliation</title>
</head>
<body>

<div align="center" style="font-family: sans-serif">
<h1>
Electric Shamer
</h1>

<h2>
a.k.a. <br/>
Master Berater
</h2>

$if oauth_dialog_url:
    <a href="$oauth_dialog_url">Log in to Facebook</a>
$elif fb_first_name:
    <p>Hello, $fb_first_name!  Check off the options below to choose your beratement. </p>
    <p>Check off which services you'd like to improve on. </p>
    <p>Last.fm <input type="checkbox" id="lastfm_checkbox"/> </p>
    <p>Enter what time each week you'd like your beratement to arrive. </p>
    <input type="text" id="beratement_time"/>
</div>
</body>
</html>
